@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif
}

:root {
    --color-blurple: #5865F2;
    --color-green: #57F287;
    --color-yellow: #FEE75C;
    --color-fuchsia: #EB459E;
    --color-red: #FF4E61;
    --color-white: #fff;
    --color-bg: #2c2f33;
    --color-gray: #bfc1c3;
}

body {
    height: 100vh;
  
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    color: var(--color-white);
}